<!-- <nb-actions size="large">
  <nb-action icon="ion-arrow-left-c" (click)="Back()"></nb-action>
</nb-actions> -->
<nb-card>
  <nb-card-body>
    <p-tabView>
      <p-tabPanel header="Profile">
        <nb-card status="success">
          <nb-card-header>
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-5 text-align: center">
                <h3>Profile</h3>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <table class="" border="1" bordercolor="#c4c4c4" style="width:100%">
              <thead>
                <tr>
                  <th class="tableHead">Full Name</th>
                  <td class="tableData">{{personalDetails?.name}}</td>
                </tr>
                <tr>
                  <th class="tableHead">Email ID</th>
                  <td class="tableData">{{personalDetails?.email}}</td>
                </tr>
                <tr>
                  <th class="tableHead">Contact No</th>
                  <td class="tableData">+{{personalDetails?.contactNo}}
                  </td>
                </tr>
                <tr>
                  <th class="tableHead">Name as per Marksheet</th>
                  <td class="tableData">{{personalDetails?.marksheetName}}
                  </td>
                </tr>
              </thead>
            </table>
          </nb-card-body>
          <div class="row">
            <div class="col-md-1" style="padding-left:3%;">
              <button nbButton hero status="danger" size="small" (click)="admin_pass_reset(personalDetails?.email)">
                Reset Password.
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" style="padding-left: 3%; padding-top: 5px;">
              <button nbButton hero status="danger" size="small" (click)="admin_name_change()">
                Change Name
              </button>
            </div>
          </div>
        </nb-card>
      </p-tabPanel>
      <p-tabPanel header="Educational Details and Documents">
        <nb-card>
          <nb-card-header>
            <span style="font-weight:'bold'; font-size:16px;">Document Details</span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Type</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">courseName</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">SeatNo</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Semester</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">SGPI/CGPA</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Grade</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Passing Month-Year</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Document</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Errata for education details</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Errata for documents</div>
              <div class="col-xl-1" style="font-weight: bold; font-size: 14px;">Edit Educational Details</div>
            </div>
            <hr />
            <div *ngIf="verificationDetails?.marksheet == true">

              <div *ngFor="let marksheet of marksheetDetails">
                <!-- <div class="col-md-3">
                  <button nbButton (click)="editEduDetails(marksheet)">Edit</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </div> -->
                <div class="row">
                  <div class="col-xl-1">Marksheet</div>
                  <div class="col-xl-1">{{marksheet?.courseName}}</div>
                  <div class="col-xl-1">{{marksheet?.seatNo}}</div>
                  <div class="col-xl-1">{{marksheet?.semester}}</div>
                  <div class="col-xl-1">{{ marksheet?.sgpi == null ? '--' : marksheet?.sgpi }}</div>
                  <div class="col-xl-1">{{marksheet?.grade}}</div>
                  <div class="col-xl-1">{{marksheet?.passingMonthYear}}</div>
                  <!-- <div class="row"> -->
                  <div class="col-xl-1" (click)="imagePopup(marksheet?.fileName)">
                    <div *ngIf=" marksheet.fileExtension  == 'pdf'">
                      <img src="{{ pdfImg }}" width="100px;" height="100px;">
                    </div>
                    <div *ngIf=" marksheet.fileExtension  != 'pdf'">
                      <img src="{{marksheet?.fileSrc}}" width="100px;" height="100px;">
                    </div>
                  </div>
                  <!-- </div> -->
                  <!-- <div class="col-xl-2"><img src="{{marksheet?.fileSrc}}"  width="100px;" height="100px;"></div>
                  <div class="col-xl-2" (click)="imagePopup(marksheet?.fileName)">
                    <div *ngIf=" marksheet.fileExtension  == 'pdf'">
                      <img src="{{ pdfImg }}" width="100px;" height="100px;">
                    </div>
                  </div> -->

                  <div class="col-xl-1">
                    <p-inputSwitch  nbPopover="Click to lock this education details" nbPopoverMode="hover"
                      [(ngModel)]="marksheet.lock_transcript"
                       inputId="{{marksheet?.id}}"
                      (onChange)="switchErrata($event,marksheet?.id,marksheet?.user_id,'education')">
                    </p-inputSwitch>
                  </div>
                  <div class="col-xl-1">
                    <p-inputSwitch  nbPopover="Click to lock this document" nbPopoverMode="hover"
                      [(ngModel)]="marksheet.upload_step" 
                      inputId="{{marksheet?.id}}"
                      (onChange)="switchErrata($event,marksheet?.id,marksheet?.user_id,'document')">
                    </p-inputSwitch>
                  </div>
                  <div class="col-xl-1">
                    <button nbButton (click)="editEduDetails(marksheet)">Edit</button>

                  </div>
                  </div>
                </div>             
              </div>
            <hr/>
            <!-- <div *ngIf="verificationDetails?.transcript == true">
              <div *ngFor="let transcript of transcriptDetails">
                <div class="row">
                  <div class="col-xl-1">Transcript</div>
                  <div class="col-xl-2">{{transcript?.courseName}}</div>
                  <div class="col-xl-2">{{transcript?.seatNo}}</div>
                  <div class="col-xl-1">{{transcript?.semester}}</div>
                  <div class="col-xl-1">{{transcript?.resultClass}}</div>

                  <div class="col-xl-1">{{transcript?.passingMonthYear}}</div>
                  <div class="col-xl-2" (click)="imagePopup(transcript?.fileName)">
                    <div *ngIf=" transcript.fileExtension  == 'pdf'">
                      <img src="{{ pdfImg }}" width="100px;" height="100px;">
                    </div>
                    <div *ngIf=" transcript.fileExtension  != 'pdf'">
                      <img src="{{transcript?.fileSrc}}" width="100px;" height="100px;">
                    </div>
                  </div>
                  <div class="col-xl-1">
                    <p-inputSwitch  nbPopover="Click to lock this education details" nbPopoverMode="hover"
                      [(ngModel)]="transcript.lock_transcript"
                       inputId="{{transcript?.id}}"
                      (onChange)="switchErrata($event,transcript?.id,transcript?.user_id,'education')">
                    </p-inputSwitch>
                  </div>
                  <div class="col-xl-1">
                    <p-inputSwitch  nbPopover="Click to lock this document" nbPopoverMode="hover"
                      [(ngModel)]="transcript.upload_step"
                       inputId="{{transcript?.name}}"
                      (onChange)="switchErrata($event,transcript?.id,transcript?.user_id,'document')">
                    </p-inputSwitch>
                  </div>
                </div>
              </div>
            </div> -->
            <hr/>
            <div *ngIf="verificationDetails?.degreeCertificate == true">
              <div *ngFor="let degree of degreeDetails">
                <div class="row">
                  <div class="col-xl-1">Degree Certificate</div>
                  <div class="col-xl-2">{{degree?.courseName}}</div>
                  <div class="col-xl-1">{{degree?.seatNo}}</div>
                  <div class="col-xl-1">{{degree?.semester}}</div>
                  <div class="col-xl-1">{{degree?.grade}}</div>
                  <div class="col-xl-1">{{degree?.passingMonthYear}}</div>
                  <div class="col-xl-2" (click)="imagePopup(degree?.fileName)">
                    <div *ngIf=" degree.fileExtension  == 'pdf'">
                      <img src="{{ pdfImg }}" width="100px;" height="100px;">
                    </div>
                    <div *ngIf=" degree.fileExtension  != 'pdf'">
                      <img src="{{degree?.fileSrc}}" width="100px;" height="100px;">
                    </div>
                  </div>
                  <!-- <div class="col-xl-2"> <img src="{{degree?.fileSrc}}" width="100px;" height="100px;"></div> -->
                  <div class="col-xl-1">
                    <p-inputSwitch  nbPopover="Click to lock this education details" nbPopoverMode="hover"
                      [(ngModel)]="degree.lock_transcript" 
                      inputId="{{degree?.id}}"
                      (onChange)="switchErrata($event,degree?.id,degree?.user_id,'education')">
                    </p-inputSwitch>
                  </div>
                  <div class="col-xl-1">
                    <p-inputSwitch  nbPopover="Click to lock this document" nbPopoverMode="hover"
                      [(ngModel)]="degree.upload_step" 
                      inputId="{{degree?.id}}"
                      (onChange)="switchErrata($event,degree?.id,degree?.user_id,'document')">
                    </p-inputSwitch>
                  </div>
                  
                  <div class="col-xl-1">
                    <button nbButton (click)="editEduDetails(degree)">Edit</button>

                  </div>
                </div>
              </div>
            </div>
            <hr/>
            </nb-card-body>
        </nb-card>

      </p-tabPanel>
      <p-tabPanel header="Institute Details and Delivery Details">
        <nb-card>
          <nb-card-header>
            <span style="font-weight:'bold'; font-size:16px;">Institute Details</span>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-xl-3" style="font-weight: bold; font-size: 14px;">Institute Reference No</div>
              <div class="col-xl-3" style="font-weight: bold; font-size: 14px;">Institute Name</div>
              <div class="col-xl-3" style="font-weight: bold; font-size: 14px;">Institute Address</div>
              <div class="col-xl-3" style="font-weight: bold; font-size: 14px;">Institute Email</div>
            </div>
            <hr/>
            <div *ngIf="verificationDetails?.marksheet == true">
              <div class = "row">
                <div class="col-xl-4"></div>
                <div class="col-xl-4" style="font-weight: bold; ">Marksheet</div>
                <div class="col-xl-4"></div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xl-3" >{{marksheetInstituteDetails?.referenceNo}}</div>
                <div class="col-xl-3">{{marksheetInstituteDetails?.name}}</div>
                <div class="col-xl-3">
                  <div *ngIf="marksheetInstituteDetails?.address?.length">
                    {{ marksheetInstituteDetails.address[0].address }}
                  </div>
                  <div *ngIf="!marksheetInstituteDetails?.address?.length">
                    N/A
                  </div>
                </div>
                <div class="col-xl-3">{{marksheetInstituteDetails?.email}}</div>
                <div>
                  <button nbButton (click)="editInsDetails(marksheetInstituteDetails )">Edit</button>
                </div>
              </div>
            </div>
            <hr/>
            <!-- <div *ngIf="verificationDetails?.transcript == true">
              <div class = "row">
                <div class="col-xl-4"></div>
                <div class="col-xl-4" style="font-weight: bold; margin-left: 5%; margin-bottom: -3%;">Transcript</div>
                <div class="col-xl-4"></div>
              </div>
              <div class="row">
                <div class="col-xl-3">{{transcriptInstituteDetails?.referenceNo}}</div>
                <div class="col-xl-3">{{transcriptInstituteDetails?.name}}</div>
                <div class="col-xl-3" *ngIf="transcriptInstituteDetails?.address != ''">{{transcriptInstituteDetails?.address}}</div>
                <div class="col-xl-3" *ngIf="transcriptInstituteDetails?.address == ''">N/A</div>
                <div class="col-xl-3" *ngIf="transcriptInstituteDetails?.email != ''">{{transcriptInstituteDetails?.email}}</div>
                <div class="col-xl-3" *ngIf="transcriptInstituteDetails?.email == ''">N/A</div>
                <div>
                  <button nbButton (click)="editInsDetails(transcriptInstituteDetails )">Edit</button>
                </div>
              </div>
            </div> -->
            <hr/>
            <div *ngIf="verificationDetails?.degreeCertificate == true">
              <div class = "row">
                <div class="col-xl-4"></div>
                <div class="col-xl-4" style="font-weight: bold;">Degree Certificate</div>
                <div class="col-xl-4"></div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xl-3">{{degreeInstituteDetails?.referenceNo}}</div>
                <div class="col-xl-3">{{degreeInstituteDetails?.name}}</div>
                <div class="col-xl-3">
                  <div *ngIf="marksheetInstituteDetails?.address?.length">
                    {{ marksheetInstituteDetails.address[0].address }}
                  </div>
                  <div *ngIf="!marksheetInstituteDetails?.address?.length">
                    N/A
                  </div>
                </div>
                <div class="col-xl-3" >{{degreeInstituteDetails?.email}}</div>
                <div>
                  <button nbButton (click)="editInsDetails(degreeInstituteDetails )">Edit</button>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <!-- <nb-card>
          <nb-card-header>Delivery Options</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-xl-4">Delivery Option : </div>
              <div class="col-xl-4">{{deliveryOptions?.deliveryOption}}</div>
            </div>
            <div class="row">
              <div class="col-xl-4">Delivery Mode : </div>
              <div class="col-xl-4">{{deliveryOptions?.deliveryMode}}</div>
            </div>
          </nb-card-body>
        </nb-card> -->
      </p-tabPanel>

    </p-tabView>
  </nb-card-body>
</nb-card>

<p-dialog [(visible)]="display_first" header="Name Change">
  <!-- <ng-template pTemplate="header" >
      Name Change
  </ng-template> -->
  Do You want to Change Name of <b>{{personalDetails?.marksheetName}}</b>
  <br /><br />
  <div class="row">
    <div class="col-md-1">
      <h6 style="width: 100px;text-align: left;">Full Name:</h6>
    </div>
    <div class="col-md-7" style="padding-left: 80px;width: max-content;">
      <input style="width: inherit;text-align: left;" nbInput id="fullname" name="fullname" type="text"
        pattern="[a-zA-Z ]*" value="{{personalDetails?.name}}" #fullname>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1">
      <h6 style="width: 100px;text-align: left;">Email:</h6>
    </div>
    <div class="col-md-7" style="padding-left: 80px;width: max-content;">
      <input style="width: inherit;text-align: left;" nbInput id="email" name="email" type="text"
        value="{{personalDetails?.email}}" #email>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1">
      <h6 style="width: 100px;text-align: left;">Contact No:</h6>
    </div>
    <div class="col-md-7" style="padding-left: 80px;width: max-content;">
      <input style="width: inherit;text-align: left;" nbInput id="contactno" name="contactno" type="text"
        value="{{personalDetails?.contactNo}}" #contactno>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1">
      <h6 style="width: 100px;text-align: left;">Name as per Marksheet:</h6>
    </div>
    <div class="col-md-7" style="padding-left: 80px;width: max-content;">
      <input style="width: inherit;text-align: left;" nbInput id="marksheetname" name="marksheetname" type="text"
        pattern="[a-zA-Z ]*" value=" {{personalDetails?.marksheetName}}" #marksheetname>
    </div>
  </div>

  <p-footer>
    <div class="row">
      <div class="col-md-1">
        <button nbButton hero status="danger" size="small"
          (click)="name_change(fullname.value, email.value, contactno.value, marksheetname.value)">
          Save
        </button>
      </div>
    </div>
    <!-- <label>First Name</label><input nbInput id="stud_fathername" name="stud_fathername" type="text" pattern="[a-zA-Z ]*" placeholder='{{profile?.firstname}}' formControlName="stud_fathernameCtrl" [(ngModel)]="fathername" class="form-control"/> -->
  </p-footer>
</p-dialog>







<div>

</div>