<div>
    <div class="row">
        <div class="col">
            <nb-card>
                <nb-card-header>
                    <h5>Are you sure you want to verify application?</h5>
                    <!-- <a class="more-text widget-text float-right close-icon" data-dismiss="modal" aria-label="Close"
                        (click)="close()">Close</a> -->
                </nb-card-header>
                <nb-card-body>
                        Application id : {{id}}<br>
                        First Name : {{first_name}}<br>
                        Last Name : {{last_name}}<br>
                        Email : {{email}}<br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary pull-right" (click)="submit()">Verify</button>
                            <button type="button" class="btn btn-danger pull-right" (click)="cancel()">Cancel</button>
                        </div>
 
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>