<nb-card>
    <nb-card-header>
        <h4>ADD STUDENT</h4>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="addStudentForm" class="example-form">
            <div class="row">
                <div class="col-xl-3">
                    <label for="input-firstName">First Name:</label>
                </div>
                <div class="col-md-6">
                    <input onkeydown="return /[a-z]/i.test(event.key)"  type="text" nbInput style="width: auto;" id="input-firstName" required formControlName="firstName"
                        placeholder="First Name"
                        [status]="addStudentForm.controls.firstName.dirty ? (addStudentForm.controls.firstName.invalid ? 'danger' : 'success') : ''">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-3">
                    <label for="input-lastName">Last Name:</label>
                </div>
                <div class="col-xl-6">
                    <input onkeydown="return /[a-z]/i.test(event.key)" type="text" nbInput style="width: auto;" id="input-lastName" required formControlName="lastName"
                        placeholder="Last Name"
                        [status]="addStudentForm.controls.lastName.dirty ? (addStudentForm.controls.lastName.invalid ? 'danger' : 'success') : ''">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-3">
                    <label for="input-mobile">Mobile Number:</label>
                </div>
                <div class="col-xl-6">
                    <input  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  type="text" nbInput style="width: auto;" id="input-mobile" required formControlName="mobile"
                        placeholder="Mobile Number"
                        [status]="addStudentForm.controls.mobile.dirty ? (addStudentForm.controls.mobile.invalid ? 'danger' : 'success') : ''">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-3">
                    <label for="input-fullName">Name On Marksheet/Transcript/Degree:</label>
                </div>
                <div class="col-xl-6">
                    <input  type="text" nbInput style="width: auto;" id="input-fullName" required formControlName="fullName"
                        placeholder="Name as per marksheet/transcript/degree"
                        [status]="addStudentForm.controls.fullName.dirty ? (addStudentForm.controls.fullName.invalid ? 'danger' : 'success') : ''">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-3">
                    <label for="input-email">Email address:</label>
                </div>
                <div class="col-xl-6">
                    <input type="text" nbInput style="width: auto;" id="input-email" required formControlName="email"
                        placeholder="Email address" (keyup)="onKeyPressNew($event)"
                        [status]="addStudentForm.controls.email.dirty ? (addStudentForm.controls.email.invalid ? 'danger' : 'success') : ''">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-2">
                    <span style="color:red; font-weight: bold;">
                        {{this.errorMessage}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <button nbButton (click)="addStudentDetails()" *ngIf="user_id == null">Add</button>
                    <button nbButton (click)="editStudentDetails()" *ngIf="user_id != null">Edit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>