<nb-card>
  <nb-card-header status="success">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-6 col-6">
      <!-- <label style="font-size: 140%;">Signed Applications</label> -->
      <label style="font-size: 140%;">Signed Applications</label>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="searchForm">
      <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Name</label><br>
          <input nbInput fullWidth formControlName="nameCtrl"
          [(ngModel)]="name" placeholder="name"
          [ngClass]="{'form-control-danger': searchForm.controls.nameCtrl.invalid && (searchForm.controls.nameCtrl.dirty || searchForm.controls.nameCtrl.touched)}">
      </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Email ID</label><br>
          <input nbInput fullWidth formControlName="emailCtrl"
          [(ngModel)]="email" placeholder="email"
          [ngClass]="{'form-control-danger': searchForm.controls.emailCtrl.invalid && (searchForm.controls.emailCtrl.dirty || searchForm.controls.emailCtrl.touched)}">
        </div>
      </div>

      <div class="col-md-4" style="margin-top: 2.5%;">
        <button nbButton (click)="search()">Search</button>
      </div>
      </div>
    </form>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <input nbInput fullWidth type="text" [value]="filterText" [placeholder]="filterPlaceholder"
            [formControl]="filterInput" />
          <button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
    </div>
    <div class="wrapper">
      <button style="float: right;" nbButton status="success" (click)="downloadExcel('signed')">
        <div style="font-size: 86%;">
          Download Excel
        </div>
      </button>
      <form [formGroup]="dateForm">
        <div class="col-md-6" style="padding-left: 5%;">
          <input style="width: inherit;" id="appsigned" name="appsigned" placeholder="Input Date Range"  autocomplete="off" class="col-lg-12 form-control" formControlName="dateCtrl" [nbDatepicker]="rangepicker" >
          <nb-rangepicker #rangepicker></nb-rangepicker>
      </div>
    </form>
      <h5><b>Total student count: {{studentLength?.totalLength}} </b></h5><br/><br/>
      <!-- <h5><b>Filtered student count: </b></h5>{{studentdata?.length}} -->
      <div class="Rtable Rtable--5cols Rtable--collapse">
        <div class="Rtable-row Rtable-row--head">
          <div class="Rtable-cell date-cell column-heading">Application Id</div>
          <div class="Rtable-cell date-cell column-heading">Full Name</div>
          <div class="Rtable-cell topic-cell column-heading">Email Address</div>
          <!-- <div class="Rtable-cell date-cell column-heading">Application Tracker</div>
          <div class="Rtable-cell date-cell column-heading">Application Status</div> -->
                    <div class="Rtable-cell date-cell column-heading">Verified Pdf </div>
          <!-- <div class="Rtable-cell date-cell column-heading">Application Date</div> -->
          <div class="Rtable-cell date-cell column-heading">Verified Date</div>
          <div class="Rtable-cell date-cell column-heading">View</div>
          <div class="Rtable-cell date-cell column-heading">Email</div>
          <div class="Rtable-cell date-cell column-heading">created by</div>
          <div class="Rtable-cell date-cell column-heading">Regenrate</div>
          <div class="Rtable-cell date-cell column-heading">verify by</div>

        </div>
        
        <div class="Rtable-row is-striped" *ngFor="let student of studentdata | filter:{name:filterText,email:filterText,types:filterText,id:filterText,surname:filterText} : false | paginate: { itemsPerPage: 10, totalItems: studentLength?.totalLength, currentPage: p } ;let i=index;">
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Application Id</div>
            <div class="Rtable-cell--content date-content">{{student?.id}}
            </div>
          </div>
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Full Name</div>
            <div class="Rtable-cell--content date-content">{{student?.name}}</div>
            <div class="Rtable-cell--content date-content" *ngIf="student.agent_name !== null">{{student?.agent_name}}</div>
          </div>
          <div class="Rtable-cell topic-cell">
            <div class="Rtable-cell--heading">Email Address</div>
            <div class="Rtable-cell--content title-content">{{student?.email}}</div>
          </div>
          <!-- <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Application Tracker</div>
            <div class="Rtable-cell--content date-content">{{student?.tracker}}</div>
          </div>
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Application Status</div>
            <div class="Rtable-cell--content date-content">{{student?.status}}</div>
          </div> -->
          <div class="Rtable-cell date-cell" style="text-align: center;">
            <div class="Rtable-cell--heading">Verified Pdf</div>
            <div class="Rtable-cell--content date-content">
              <!-- <i class="fa ion-person" status="info" nbPopover="downloadPDF" nbPopoverMode="hover" -->
              <i class="fa fa-file-pdf-o" status="info" nbPopover="downloadPDF" nbPopoverMode="hover" 
              (click)="download(student?.id,student?.user_id)"></i><br>
            </div>
          </div>
          <!-- <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Application Date</div>
            <div class="Rtable-cell--content date-content">{{student?.created_at}}</div>
          </div> -->
           <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Verified Date</div>
            <div class="Rtable-cell--content date-content">{{student?.verified_date}}</div>
          </div>
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">View</div>
            <div class="Rtable-cell--content date-content">
              <i class="fa ion-person" status="info" nbPopover="View More" nbPopoverMode="hover"
              (click)="handleClick(student.user_id)"></i><br>
            </div>
          </div>
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Verify</div>
            <div class="Rtable-cell--content date-content">
              <i class="fa fa-envelope" status="info" nbPopover="Send Email" nbPopoverMode="hover"
              (click)="sendEmail(student.user_id,student.id)"></i><br>
            </div>
          </div>
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">Created By</div>
            <div class="Rtable-cell--content date-content">{{student?.created_by}}</div>
          </div>
          <div class="Rtable-cell date-cell" style="text-align: center;">
            <div class="Rtable-cell--heading">Regenerate</div>
            <div class="Rtable-cell--content date-content">
              <i class="fa fa-refresh" status="info" nbPopover="View More" nbPopoverMode="hover"
              (click)="regenerate(student.user_id,student.id)"></i><br>
            </div>
          </div>
          <div class="Rtable-cell date-cell">
            <div class="Rtable-cell--heading">verify by</div>
            <div class="Rtable-cell--content date-content">{{student?.verified_by}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="studentLength?.totalLength == 0">
        <span style="color : red; font-size: 18px;">No Data Available</span>
      </div>
    </div>
    <pagination-controls [(page)]="p" (pageChange)="pageChanged($event)"></pagination-controls>
  </nb-card-body>
</nb-card>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>