<div class="container-fluid">
    <div class="row">

        <div class="col-xl-12">
            <h4>Document Verification List</h4>

            <div class="row">
                <div class="col">
                    <nb-card>
                        <nb-card-body>
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6" id="cret" style="text-align: right;">

                                    <p> <a routerLink="../student-verification" class="text-link">Apply for
                                            Verification</a></p>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                                class="">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> Entries</label></div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3" style="margin-top: 20px;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </nb-card-body>
                        <nb-card-body *ngIf="role == 'student'">
                            <div class="Rtable Rtable--5cols Rtable--collapse" *ngIf="userApplication?.length">
                                <div class="Rtable-row Rtable-row--head">
                                    <div class="Rtable-cell date-cell column-heading">Application ID</div>
                                    <div class="Rtable-cell date-cell column-heading">Name</div>
                                    <div class="Rtable-cell date-cell column-heading">Seat No.</div>
                                    <div class="Rtable-cell date-cell column-heading">Passing Year</div>
                                    <div class="Rtable-cell date-cell column-heading">Stream</div>
                                    <div class="Rtable-cell date-cell column-heading">Branch</div>
                                    <div class="Rtable-cell date-cell column-heading">Semester</div>
                                    <div class="Rtable-cell date-cell column-heading">Document</div>
                                    <div class="Rtable-cell date-cell column-heading">Status</div>
                                    <div class="Rtable-cell date-cell column-heading">Action</div>
                                    

                                </div>
                                <nb-list>
                                    <nb-list-item class="Rtable-row is-striped"
                                    *ngFor="let data of userApplication | paginate:{itemsPerPage: 10, currentPage:p2 , id:'2' };let i=index;">
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Application ID</div>
                                            <div class="Rtable-cell--content date-content">{{data.id}}</div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Name</div>
                                            <div class="Rtable-cell--content date-content">{{data.first_name}}</div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Seat No.</div>
                                            <div class="Rtable-cell--content date-content">{{data.seat_number}}
                                            </div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Passing Year</div>
                                            <div class="Rtable-cell--content date-content">{{data?.year_passing}}
                                            </div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Stream</div>
                                            <div class="Rtable-cell--content date-content">{{data?.stream}}</div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Branch</div>
                                            <div class="Rtable-cell--content date-content">{{data?.branch}}</div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Semester</div>
                                            <div class="Rtable-cell--content date-content">{{data?.semester}}</div>
                                        </div>
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Document</div>
                                            <div class="Rtable-cell--content date-content">{{data?.document}}</div>
                                        </div>
                                         <!-- <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Status</div>
                                            <div class="Rtable-cell--content date-content">{{data?.}}</div>
                                        </div> -->
                                        <div class="Rtable-cell date-cell">
                                            <div class="Rtable-cell--heading">Download</div>
                                            <div class="Rtable-cell--content date-content" ngDefaultControl>
                                                <nb-actions>
                                                    
                                                        <nb-action (click)="downloadDocument()">
                                                           
                                                            <i class="fas fa-download"></i>
                                                          </nb-action>
                                                          <nb-action (click)="downloadReceipt()">
                                                           
                                                            <i class="fas fa-file-arrow-down"></i>
                                                          </nb-action>
                                                    
                                                </nb-actions>
                                             
                                            </div>
                                        </div>  
                                        

                                    </nb-list-item>
                                </nb-list>
                            </div>
                            <div>
                                <pagination-controls style="float:right;" (pageChange)="p2=$event" id='2'></pagination-controls>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>


        </div>

    </div>


</div>






