<!-- 
    <div class="row">
        <div class="col-xxxl-3 col-md-6 ng-star-inserted">
           <nb-card routerLink="../RegisteredUser" >
               <div class="icon-container">
                   <div class="icon status-primary">
                    <i class="fa-solid fa-users"></i>
                   </div>
               </div>
               <div class="details">
                   <div class="title h5">Registered Users</div>
                  
               </div>
           </nb-card>
       </div>
       <div class="col-xxxl-3 col-md-6 ng-star-inserted">
           <nb-card routerLink="../RegisteredAgent" >
               <div class="icon-container">
                   <div class="icon status-primary">
                    <i class="fa-brands fa-redhat"></i>
                   </div>
               </div>
               <div class="details">
                   <div class="title h5">Registered Agents</div>
                  
               </div>
           </nb-card>
       </div>
       <div class="col-xxxl-3 col-md-6 ng-star-inserted">
           <nb-card routerLink="../TotalApplied" >
               <div class="icon-container">
                   <div class="icon status-primary">
                    <i class="fa-solid fa-list-check"></i>
                   </div>
               </div>
               <div class="details">
                   <div class="title h5">Total Applied</div>
                  
               </div>
           </nb-card>
       </div>
       <div class="col-xxxl-3 col-md-6 ng-star-inserted">
           <nb-card routerLink="../PaidApplication" >
               <div class="icon-container">
                   <div class="icon status-primary">
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                   </div>
               </div>
               <div class="details">
                   <div class="title h5">Processed Applications</div>
                  
               </div>
           </nb-card>
       </div>
       <div class="col-xxxl-3 col-md-6 ng-star-inserted">
        <nb-card routerLink="../ErrataApplication" >
            <div class="icon-container">
                <div class="icon status-primary">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
            </div>
            <div class="details">
                <div class="title h5">Errata Applications</div>
               
            </div>
        </nb-card>
    </div>
   </div>
 -->

<!----old dashboard start ----> 
 <!-- <div class="container">

    <div class="row">
        <div class="col-lg-6">
          <nb-card status="primary" size="tiny">
            <nb-card-header>Total Application</nb-card-header>
            <nb-card-body>
                {{countdata?.total}}
            </nb-card-body>
          </nb-card>
        </div>

    
        <div class="col-lg-6">
          <nb-card  size="tiny">
            <nb-card-header style="background-color : '#f297e9'; font-weight:bold;">Pending Application</nb-card-header>
            <nb-card-body>
              {{countdata?.apply}}
            </nb-card-body>
          </nb-card>
      </div>
    </div>
    
    <div class="row">
 
      <div class="col-lg-6">
        <nb-card  size="tiny">
          <nb-card-header style="background-color : '#97e9f2'; font-weight:bold;">Signed Application</nb-card-header>
          <nb-card-body>
            {{countdata?.signed}}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-6">
        <nb-card  size="tiny">


            
          <nb-card-header style="background-color : '#f8ccc8 '; font-weight:bold;"> Email Sent Application</nb-card-header>
          <nb-card-body>
            {{countdata?.done}}
          </nb-card-body>
        </nb-card>
      </div>
    </div>


    
    <div echarts options="options" class="echart" merge= "mergeOptions"></div>

</div> -->
<!----old dashboard end ----> 



<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <h5 style="background-color: #3366FF;">Total Application</h5>
        <h6>{{countdata?.total}}</h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <h5 style="background-color: #5DADE2;">Pending Application</h5>
        <h6>{{countdata?.apply}}</h6>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="box">
        <h5 style="background-color: #73C6B6;">Signed Application</h5>
        <h6>{{countdata?.signed}}</h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box" >
        <h5 style="background-color: #F1C40F;">Sent Application</h5>
        <h6>{{countdata?.done}}</h6>
      </div>
    </div>

    <!-- <div class="col-md-4">
      <div class="box">
        <h5 style="background-color: #E67E22;">print Application</h5>
        <h6>{{countdata?.print}}</h6>
      </div>
    </div> -->

    <!-- <div class="col-md-4">
      <div class="box">
        <h5 style="background-color: #E74C3C;">Courier/Email Sent Application</h5>
        <h6>{{countdata?.done}}</h6>
      </div>
    </div> -->
  </div>
  
  <div echarts [options]="options" class="echart" [merge]= "mergeOptions"></div>

</div>