<nb-card>
    <nb-card-header status="success">
        <div class="row">
            <div class="col-xl-10">
                <h3>Students</h3>
            </div>
            <div class="col-xl-2 btn">
                <button (click)="addNew()">Add New</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name</label><br>
                        <input nbInput fullWidth formControlName="nameCtrl"
                        [(ngModel)]="name" placeholder="name"
                        [ngClass]="{'form-control-danger': searchForm.controls.nameCtrl.invalid && (searchForm.controls.nameCtrl.dirty || searchForm.controls.nameCtrl.touched)}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email ID</label><br>
                        <input nbInput fullWidth formControlName="emailCtrl"
                        [(ngModel)]="email" placeholder="email"
                        [ngClass]="{'form-control-danger': searchForm.controls.emailCtrl.invalid && (searchForm.controls.emailCtrl.dirty || searchForm.controls.emailCtrl.touched)}">
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 2.5%;">
                    <button nbButton (click)="search()">Search</button>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-lg-5 ">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" [value]="filterText" [placeholder]="filterPlaceholder"
                    [formControl]="filterInput" />
                    <button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
        </div>
        <div class="wrapper">
            <h5><b>Total student count: {{studentLength?.totalLength}} </b></h5><br/><br/>
            <div class="Rtable Rtable--5cols Rtable--collapse">
                <div class="Rtable-row Rtable-row--head">
                    <div class="Rtable-cell date-cell column-heading">Full Name</div>
                    <div class="Rtable-cell topic-cell column-heading">Email Address</div>
                    <div class="Rtable-cell date-cell column-heading">Edit Student</div>
                    <div class="Rtable-cell date-cell column-heading">New Application</div>
                    <div class="Rtable-cell date-cell column-heading">View Application</div>                    
                </div>
                <div class="Rtable-row is-striped" *ngFor="let student of studentdata ">
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Full Name</div>
                        <div class="Rtable-cell--content date-content">{{student?.name}}</div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--heading">Email Address</div>
                        <div class="Rtable-cell--content title-content">{{student?.email}}</div>
                    </div>
                  <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Edit Student</div>
                        <div class="Rtable-cell--content date-content">
                            <i class="fa ion-edit" status="info" nbPopover="Edit" nbPopoverMode="hover"
                            (click)="editStudentDetails(student.user_id)"></i><br>
                        </div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">New Application</div>
                        <div class="Rtable-cell--content date-content">
                            <i class="fa ion-edit" status="info" nbPopover="Edit" nbPopoverMode="hover"
                            (click)="editStudentApplication(student.user_id,'edit')" [disabled]="student.app_id"></i><br>
                        </div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">View Application</div>
                        <div class="Rtable-cell--content date-content" *ngIf="student.app_id != null">
                            <i class="fa ion-edit" status="info" nbPopover="View" nbPopoverMode="hover"
                            (click)="editStudentApplication(student.user_id,'view')" [disabled]="student.app_id"></i><br>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="studentLength?.totalLength == 0">
                <span style="color : red; font-size: 18px;">No Data Available</span>
            </div>
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </nb-card-body>
</nb-card>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>