<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">Edit Educational Details</div>
      <div class="col-md-6">
        <button nbButton (click)="dismiss()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <form [formGroup]="errataForm" class="example-form">
        <div class="row">
          <div class="col-xl-4">
            <label>Course<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <input id="marksheetCourse" type="text" placeholder="Select Course" aria-label="course"
              formControlName="courseName" [matAutocomplete]="marksheetAuto">
            <mat-autocomplete [displayWith]="displayFn" #marksheetAuto="matAutocomplete">
              <mat-option *ngFor="let option of courseData" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <div
              *ngIf="(errataForm.controls.courseName.errors && (errataForm.controls.courseName.dirty || errataForm.controls.courseName.touched))">
              <div *ngIf="marksheet.get('courseName').errors.required"><span style="color:red; font-weight:bold;">Course
                  should be required.</span></div>
            </div>
          </div>
          <div class="col-xl-4">
            <label>Course Type<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <mat-select formControlName="courseType" placeholder="select Course Type" class="custom-select">
              <mat-option *ngFor="let option of courseTypes" [value]="option.type">
                {{option.type}}
              </mat-option>
            </mat-select>
            <div
              *ngIf="(errataForm.controls.courseType.errors && (errataForm.controls.courseType.dirty || errataForm.controls.courseType.touched))">
              <div *ngIf="marksheet.get('courseType').errors.required"><span style="color:red; font-weight:bold;">Course
                  Type should be required.</span></div>
            </div>
          </div>
          <div class="col-xl-4" *ngIf="editEduDetails.type == 'marksheet'">
            <label>Examination pattern<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <mat-select formControlName="pattern" placeholder="select Examination pattern"
              (selectionChange)="getCourseDetails(errataForm.controls.courseName.value,$event)" class="custom-select">
              <mat-option *ngFor="let option of patterns" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-select>
            <div
              *ngIf="(errataForm.controls.pattern.errors && (errataForm.controls.pattern.dirty || errataForm.controls.pattern.touched))">
              <div *ngIf="marksheet.get('pattern').errors.required"><span
                  style="color:red; font-weight:bold;">Examination pattern is required.</span></div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="editEduDetails.type == 'marksheet'">
            <label *ngIf="errataForm.controls.pattern.value == null">Year/Semesters</label>
            <label *ngIf="errataForm.controls.pattern.value == 'Annual'">Annual</label>
            <label *ngIf="errataForm.controls.pattern.value == 'Semester'">Semester</label><span
              style="color:red; font-weight:bold">*</span>

            <br />
            <input id="semester" type="text" [placeholder]=patternType aria-label="course" formControlName="semester"
              [matAutocomplete]="semester">
            <mat-autocomplete [displayWith]="displayFn1" #semester="matAutocomplete">
              <mat-option *ngFor="let option of courseDetails" [value]="option.term_name">
                {{option.term_name}}
              </mat-option>
            </mat-autocomplete>
            <div
              *ngIf="(errataForm.controls.semester.errors && (errataForm.controls.semester.dirty || errataForm.controls.semester.touched))">
              <div *ngIf="errataForm.controls.semester.errors.required"><span
                  style="color:red; font-weight:bold;">{{marksheets.controls['marksheet'].controls[i].controls.pattern.value
                  }} is required.</span></div>
            </div>
          </div>
          <div class="col-md-4">
            <label>Seat No.<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <input formControlName="seatNo" placeholder="Seat Number" maxlength="10" onkeypress="return event.charCode >=48 && event.charCode <=57 || 
            (event.charCode > 64 && event.charCode < 91) || 
            (event.charCode > 96 && event.charCode < 123) && (event.charCode!==32)" />
            <div
              *ngIf="(errataForm.controls.seatNo.errors && (errataForm.controls.seatNo.dirty || errataForm.controls.seatNo.touched))">
              <div *ngIf="errataForm.controls.seatNo.errors.required"><span style="color:red; font-weight:bold;">seat
                  Number is required.</span></div>
              <div *ngIf="errataForm.controls.seatNo.errors.maxlength">
                <span style="color:red; font-weight:bold;">Seat Number must be up to 10 digits long.</span>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="editEduDetails.type == 'marksheet'">
            <label>SGPI/CGPA<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <input formControlName="sgpi" placeholder="Enter SGPI/CGPA" />
            <div
              *ngIf="(errataForm.controls.sgpi.errors && (errataForm.controls.sgpi.dirty || errataForm.controls.sgpi.touched))">
              <div *ngIf="errataForm.controls.sgpi.errors.required"><span style="color:red; font-weight:bold;">SGPI/CGPA
                  Number is required.</span></div>
              <div *ngIf="errataForm.controls.sgpi.errors.numeric"><span style="color:red; font-weight:bold;">SGPI/CGPA
                  must be numeric.</span></div>
            </div>
          </div>
          <div class="col-xl-4">
            <label>Passing Month-Year<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <input matInput [matDatepicker]="dp" [max]="today" formControlName="passingMonthYear" (focus)="dp.open()"
              readonly />
            <mat-datepicker #dp startView="multi-year" (monthSelected)="chosenMonthHandler($event,dp)"
              panelClass="example-month-picker">
            </mat-datepicker>
          </div>

          <div class="col-xl-4">
            <label>Result Class<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <mat-select formControlName="result" placeholder="select result class" class="custom-select">
              <mat-option *ngFor="let option of resultClasses" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-select>
            <div
              *ngIf="(errataForm.controls.result.errors && (errataForm.controls.result.dirty || errataForm.controls.result.touched))">
              <div *ngIf="errataForm.controls.result.errors.required"><span style="color:red; font-weight:bold;">Result
                  class is required.</span></div>
            </div>
          </div>

          <div class="col-xl-4">
            <label>Grade<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <mat-select formControlName="grade" placeholder="select grade" class="custom-select">
              <mat-option *ngFor="let option of grades" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-select>
            <div
              *ngIf="(errataForm.controls.grade.errors && (errataForm.controls.grade.dirty || errataForm.controls.grade.touched))">
              <div *ngIf="errataForm.controls.grade.errors.required"><span style="color:red; font-weight:bold;">Grade is
                  required.</span></div>
            </div>
          </div>

          <div class="col-xl-4" *ngIf="editEduDetails.type == 'degree'">
            <label>
              Convocation Date<span style="color:red; font-weight:bold">*</span>
            </label>
            <input nbInput [nbDatepicker]="picker" placeholder="Convocation Date" formControlName="convocationDate">
            <nb-datepicker [max]="max" #picker></nb-datepicker>

          </div>
          <div class="col-xl-4" *ngIf="editEduDetails.type == 'degree'">
            <label>Convocation No<span style="color:red; font-weight:bold">*</span></label>
            <br />
            <input matInput formControlName="convocationNo" placeholder="Convocation No" />
            <div
              *ngIf="(errataForm.controls.convocationNo.errors && (errataForm.controls.convocationNo.dirty || errataForm.controls.convocationNo.touched))">
              <div *ngIf="errataForm.controls.convocationNo.errors.required"><span
                  style="color:red; font-weight:bold;">Convocation No is required.</span></div>
            </div>
          </div>
        </div>
      </form>
      <br />
      <div>
        <!-- <button nbButton (click)="saveDetails(user.email)" [disabled]="!errataForm.dirty||
          errataForm.controls.referenceNo.value=='' || errataForm.controls.name.value=='' || 
          errataForm.controls.address.value=='' || errataForm.controls.email.value==''||errataForm.controls.email.errors?.pattern">Save</button> -->
        <button nbButton (click)="saveDetails()">Save</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

