<nb-card>
  <nb-card-header status="success">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-6 col-6">
      <label style="font-size: 140%;">Print Applications</label>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
      <form [formGroup]="searchForm">
          <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label><br>
              <input nbInput fullWidth formControlName="nameCtrl"
              [(ngModel)]="name" placeholder="name"
              [ngClass]="{'form-control-danger': searchForm.controls.nameCtrl.invalid && (searchForm.controls.nameCtrl.dirty || searchForm.controls.nameCtrl.touched)}">
          </div>
          </div>
    
          <div class="col-md-4">
            <div class="form-group">
              <label>Email ID</label><br>
              <input nbInput fullWidth formControlName="emailCtrl"
              [(ngModel)]="email" placeholder="email"
              [ngClass]="{'form-control-danger': searchForm.controls.emailCtrl.invalid && (searchForm.controls.emailCtrl.dirty || searchForm.controls.emailCtrl.touched)}">
            </div>
          </div>
    
          <div class="col-md-4" style="margin-top: 2.5%;">
            <button nbButton (click)="search()">Search</button>
          </div>
          </div>
        </form>
        <div class="wrapper">
          <button style="float: right;" nbButton status="success" (click)="downloadExcel()">
            <div style="font-size: 86%;">
              Download Excel
            </div>
          </button>
          <h5><b>Total student count: {{studentLength?.totalLength}} </b></h5><br/><br/>
          <!-- <h5><b>Filtered student count: </b></h5>{{studentdata?.length}} -->
          <div class="Rtable Rtable--5cols Rtable--collapse">
            <div class="Rtable-row Rtable-row--head">
              <div class="Rtable-cell date-cell column-heading">Application Id</div>
              <div class="Rtable-cell date-cell column-heading">Full Name</div>
              <div class="Rtable-cell topic-cell column-heading">Email Address</div>
              <div class="Rtable-cell date-cell column-heading">Application Date</div>
              <div class="Rtable-cell date-cell column-heading">View</div>
              <div class="Rtable-cell date-cell column-heading">Print Certificates</div>
              <div class="Rtable-cell date-cell column-heading">Print Addresses</div>
              <div class="Rtable-cell date-cell column-heading">created by</div>
            </div>
            
            <div class="Rtable-row is-striped" *ngFor="let student of studentdata | filter:{name:filterText,email:filterText,types:filterText,id:filterText,surname:filterText} : false | paginate: { itemsPerPage: 10, totalItems: studentLength?.totalLength, currentPage: p } ;let i=index;">
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">Application Id</div>
                <div class="Rtable-cell--content date-content">{{student?.id}}
                </div>
              </div>
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">Full Name</div>
                <div class="Rtable-cell--content date-content">{{student?.name}}</div>
              </div>
              <div class="Rtable-cell topic-cell">
                <div class="Rtable-cell--heading">Email Address</div>
                <div class="Rtable-cell--content title-content">{{student?.email}}</div>
              </div>
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">Application Date</div>
                <div class="Rtable-cell--content date-content">{{student?.created_at}}</div>
              </div>
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">View</div>
                <div class="Rtable-cell--content date-content">
                  <i class="fa ion-person" status="info" nbPopover="View More" nbPopoverMode="hover"
                  (click)="handleClick(student.user_id,student.id)"></i><br>
                </div>
              </div>
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">Print Certificates</div>
                <div class="Rtable-cell--content date-content">
                  <button (click)="printLetter(student.id,student.user_id)" mat-icon-button>
                    <i style="color: blue;" class="fas fa-print fa-2x"></i>
                  </button>
                </div>
              </div>
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">Print Addresses</div>
                <div class="Rtable-cell--content date-content">
                  <button (click)="printAddress(student.id,student.user_id)" mat-icon-button>
                    <i style="color: blue;" class="fas fa-print fa-2x"></i>
                  </button>
                </div>
              </div>
              <div class="Rtable-cell date-cell">
                <div class="Rtable-cell--heading">Created By</div>
                <div class="Rtable-cell--content date-content">{{student?.created_by}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="studentLength?.totalLength == 0">
            <span style="color : red; font-size: 18px;">No Data Available</span>
          </div>
        </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </nb-card-body>
</nb-card>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
