<div class="row">
	<div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
      	<nb-card ascent="success">
        	<nb-card-header ><h4> Welcome to Verification of documents! </h4></nb-card-header> 
        	<nb-card-body>
				<div class="row">
					<div class="col-md-9">
						<p style="margin:10px; justify-content:center;">
							Hi {{user?.firstName}} {{user?.lastName}}! 
							<br> This is the Dashboard to apply for Verification using a single Application Form. The Menu on your left will assist you to seamlessly use this single window Application Process.
						</p>
					</div>
					<div class="col-md-3">
						<nb-card status="success">
							<nb-card-header >
								<div style="text-align: center;">
									Verification Application
								</div>
							</nb-card-header> 
							<nb-card-body>
								<div class="row" style="justify-content: center;padding-top: 15px;">
									<button nbButton  style="height: 50px;width: 130px;background-image: linear-gradient(#40dc7e, #8A7FFF);background-repeat: repeat-x" (click)="dashboardRoutes()">
										GO
									</button>
								</div>
							</nb-card-body>
						</nb-card>
					</div>
				</div>
        	</nb-card-body>
      	</nb-card>
    </div>

	<div class = "col-xxxl-12 col-xxl-12 col-lg-12 col-md-12" (click)="errataLink();" *ngIf="lock_transcript == true">
		<marquee><u><b  style="color:red; font-size:20px; ">Errata in documents details ! Click here to make changes.</b></u></marquee>
	</div>
    <div class="col-xxxl-8 col-xxl-8 col-lg-7 col-md-8">
      	<nb-card status="success" size="xsmall" style="height: 90%;">
        	<nb-card-header><h4>Process</h4></nb-card-header>
        	<nb-card-body>
				<div class="row">
					<div class="col-xl-9">
						<div id="bar"> 
							<p>Step 1: Select types of documents for verification.</p> 
							<br/>
							<div class="buttonExample" (click)="videoPopup(1)">
								<i class="fa fa-play"></i>Video
							</div>
						</div> 
			 
						<div id="bar2">
							<p>Step 2: Add education details related to document<br/> and upload document</p> 
							<br/>
							<div class="buttonExample2" (click)="videoPopup(2)">
								<i class="fa fa-play"></i>Video
							</div>
						</div>
		
						<div id="bar3">
							<p>Step3: Add institute/agency/company details</p> 
							<br/>
							<div class="buttonExample3" (click)="videoPopup(3)">
								<i class="fa fa-play"></i>Video
							</div>
						</div>
					</div>
					<div class="col-xl-3" style="padding-top : 50px;">
						<p>Verification Manual</p>
						<a href="{{serverUrl}}/api/images/GU-VerificationManual.pdf" target="_blank">
							<img src="{{serverUrl}}/api/images/downloadPDF.png" width="150px;" height="100px;">
						</a>
					</div>
				</div>
            	
			</nb-card-body>
        </nb-card>
    </div>
    <!-- <div class="col-xxxl-2 col-xxl-4 col-lg-5 col-md-4">
        <nb-card status="success">
        	<nb-card-header style="text-align:center;">College Letter For Second Year Marksheet Verification</nb-card-header>
          	<nb-card-body>
            	<div class="row">
              		<div class="col-xl-12" style="text-align: center;">
						<p>If you want to apply for Second Year Marksheet Verification, download this letter, Fill and take stamp and sign from college authority and then upload in document details and upload document section.</p>
                		<button size="x-small" status="info" nbPopover="Click here to Download letter" nbPopoverMode="hover"  (click)="downloadLetter();" nbButton>Download</button>
             		</div>
            	</div>
          	</nb-card-body>
        </nb-card> -->
        <!-- <nb-card status="success" *ngIf = 'notes'>
          	<nb-card-header style="text-align:center;">Remarks :</nb-card-header>
          	<nb-card-body>
            	<div class="row">
              		<span style="font-weight: bold; font-size: 13px;" [innerHTML]="notes"></span>
            	</div>
          	</nb-card-body>
        </nb-card> -->
    <!-- </div> -->
</div>

<div  id="track" class="row">
	<div id="trackdiv" class="col-xxxl-12 col-xxl-11 col-lg-10 col-md-9">
		<nb-card status="success" *ngIf = "appFlag == true">
			<nb-card-header style="text-align:center;"><h4>Application Progress Bar</h4></nb-card-header>
			<nb-alert status="danger" closable (close)="onClose()" *ngIf="alertFlag == 1">
			  {{message}}
			</nb-alert>
			
			<nb-card-body class="col-xl-11" *ngFor="let institute of applicationData">
			  	<span style="font-weight: bold; font-size: 18px;">Application - {{institute.app_id}} </span>
			  	<br/>
			  	<nb-stepper  orientation="horizontal" (click)="selectStep(institute);" #progressStepper >
					<nb-step  [completed]="institute.tracker == 'apply' || institute.tracker == 'verified' || institute.tracker == 'signed' || institute.tracker == 'done' || institute.tracker == 'print'" label="Applied">
					</nb-step>
					<nb-step   [completed]="institute.status == 'verified' || institute.status == 'signed' || institute.status == 'done' || institute.status == 'print'"  label="Verified">
					</nb-step>
				  	<nb-step  [completed]="institute.status == 'signed' || institute.status == 'done' || institute.status == 'print'" label="Signed/Print">
					</nb-step>
				  	<nb-step  [completed]="institute.status == 'done'"  label="sent/couriered to recipient">
					</nb-step>
			  	</nb-stepper >
				<br/>	
			  <span style="font-weight: bold; font-size: 18px; color : red" >Remarks :</span>
			  <span style="font-weight: bold; font-size: 16px;" [innerHTML]="institute.notes"></span>
			</nb-card-body>

			<nb-card-footer><div style="font-size: 12px;">You could share this exciting news with your friends and family to make them aware of our steps towards digitalisation!</div>
			</nb-card-footer>
		</nb-card>
		<span *ngIf = "appFlag == false">Application Payment not done yet.</span>
    </div>
</div>

<p-dialog [(visible)]="displayvideo1" [modal]="true" [responsive]="true" [style]="{width: 'auto', minWidth: 'auto'}">
<nb-card  style="width: 350px;min-width: 200px;">
	<nb-card-body  id="cardbody1">
	<video id="video1" src="{{serverUrl}}/api/upload/video/Name.mp4" controls style="width: 300px;min-width: 200px;min-height: 200px;"></video>
	</nb-card-body>
</nb-card>
</p-dialog>

<p-dialog [(visible)]="displayvideo2" [modal]="true" [responsive]="true" [style]="{width: 'auto', minWidth: 'auto'}">
<nb-card  style="width: 350px;min-width: 200px;">
	<nb-card-body  id="cardbody2">
	<video id="video2" src="{{serverUrl}}/api/upload/video/Education.mp4" controls style="width: 300px;min-width: 200px;min-height: 200px;"></video>
	</nb-card-body>
</nb-card>
</p-dialog>

<p-dialog [(visible)]="displayvideo3" [modal]="true" [responsive]="true" [style]="{width: 'auto', minWidth: 'auto'}">
<nb-card  style="width: 350px;min-width: 200px;">
	<nb-card-body  id="cardbody3">
	<video id="video2" src="{{serverUrl}}/api/upload/video/Final.mp4" controls style="width: 300px;min-width: 200px;min-height: 200px;"></video>
	</nb-card-body>
</nb-card>
</p-dialog>

  
    
  


