<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6">
                Errata Update
            </div>
            <div class="col-md-6">
                <nb-action icon="ion-close-round" (click)="dismiss()"></nb-action>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="lock_transcript == 'requested'">
            <form [formGroup]="errataForm" class="example-form"> 
                <div class="row">
                    <!-- <div class="col-xl-4">
                        <label>Course</label>
                        <br />
                        <input id="course" type="text" placeholder="Select Course" aria-label="course"
                        matInput formControlName="courseName" [matAutocomplete]="courseAuto">
                        <mat-autocomplete [displayWith]="displayFn" #courseAuto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                            >
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </div> -->
                    <div class="col-xl-4">
                        <label>Course</label>
                        <br />
                        <input id="course" type="text" placeholder="Select Course" aria-label="course"
                        matInput formControlName="courseName" [matAutocomplete]="courseAuto">
                        <mat-autocomplete [displayWith]="displayFn" #courseAuto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.course"
                            >
                                {{option.course}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'marksheet'">
                        <label>Pattern</label>
                        <br />
                        <mat-select formControlName="pattern" (selectionChange)="getCourseDetails(errataForm.controls.courseName.value,$event)">
                          <mat-option *ngFor="let option of patterns" [value]="option.name" >
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                    </div>
                    <!-- <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'marksheet'">
                        <label
                                  *ngIf="errataForm.controls.pattern.value == null">Year/Semesters</label>
                                <label
                                  *ngIf="errataForm.controls.pattern.value == 'Annual'">Annual</label>
                                <label
                                  *ngIf="errataForm.controls.pattern.value == 'Semester'">Semester</label>
                        <br />
                        <input id="semester" type="text" placeholder="Select {{errataForm.controls.pattern.value}} " aria-label="course"
                        formControlName="semester" [matAutocomplete]="semester">
                        <mat-autocomplete [displayWith]="displayFn1" #semester="matAutocomplete">
                          <mat-option *ngFor="let option of courseDetails" [value]="option.term_name">
                            {{option.term_name}}
                          </mat-option>
                        </mat-autocomplete>
                    </div> -->
                    <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'marksheet'">
                        <label>Semester</label>
                        <br />
                        <input id="semester" type="text" placeholder="semester" aria-label="course"
                        formControlName="semester" [matAutocomplete]="semester">
                        <mat-autocomplete [displayWith]="displayFn1" #semester="matAutocomplete">
                          <mat-option *ngFor="let option of courseDetails" [value]="option.term_name">
                            {{option.term_name}}
                          </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col-xl-4">
                        <label>Seat No</label>
                        <br />
                        <input matInput formControlName="seatNo" />
                    </div>
                    <!-- <div class="col-xl-4">
                        <label>Passing Month-Year</label>
                        <br />
                        <input matInput [matDatepicker]="dp" formControlName="passingMonthYear" (focus)="dp.open()"
                        readonly />
                        <mat-datepicker #dp startView="multi-year" (monthSelected)="chosenMonthHandler($event,dp,'passing')"
                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </div> -->
                    <div class="col-xl-4">
                        <label>Passing Month-Year</label>
                       <br />
                          <input type="date" id="startdatectrl" name="trip-start" formControlName="passingMonthYear" >
                        </div>

                    <!-- </div>     -->


                      
                        <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'degree'">
                            <label>Convocation Date</label>
                            <input nbInput [nbDatepicker]="picker" formControlName="convocationDate" [max]="max">
                            <nb-datepicker #picker></nb-datepicker>
                        </div>
                    <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'degree'">
                        <label>Convocation No</label>
                        <br />
                        <input matInput formControlName="convocationNo" />
                    </div>
                    <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'transcript'">
                        <label>Transcript No</label>
                        <br />
                        <input matInput formControlName="transcriptNo" />
                    </div>
                   
                    <div class="col-xl-4" *ngIf="ErrataDetails?.type == 'degree' || ErrataDetails?.type == 'marksheet' "  >
                        <label>Result Class</label>
                        <br />
                        <mat-select formControlName="result" placeholder="select result class">
                            <mat-option *ngFor="let option of resultClasses" [value]="option.name">
                              {{option.name}}
                            </mat-option>
                          </mat-select>
                    </div>
                </div>
            </form>
            <br/>
            <div>
                <button nbButton (click)="saveDetails()">Save</button>
            </div>
        </div>
        <div *ngIf="upload_step == 'requested'">
            <p-fileUpload chooseLabel="Upload" mode="basic" auto="true" [accept]="'.pdf,.png,.jpeg,.jpg'"
            url="{{uploadUrl}}/agent/uploadDocument?doc_id={{id}}&user_id={{user_id}}&errata=true" name="file"
            maxFileSize="7000000" (onBeforeSend)="onBeforeSend($event)"
            (onUpload)="onUpload($event)" (onSelect)="onSelect($event)">
        </p-fileUpload>
        </div>
    </nb-card-body>
</nb-card>