$breakpoint: 750px;
$heading-color: #455f78;

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  // margin: 1em auto;
  padding: 1em;
}

.is-striped { background-color: rgb(254, 252, 252); }


/* Table column sizing
================================== */
.date-cell  { width: 5%; }
.date-cell-serial { width: 6%; }
.date-cell-email  { width: 10%; }
.date-cell-problem-suggest  { width: 20%; }
.info-cell  { width: 5%; }
.topic-cell  { width: 31%; }
.access-link-cell  { width: 13%; }
.replay-link-cell  { width: 13%; }
.pdf-cell  { width: 13%; }

/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  
  .Rtable-row {
    width: 100%;
    display: flex;
    
    .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden; // Or flex might break
      list-style: none;

      &.column-heading {
        background-color: $heading-color;
        color: white;
        padding: 1em;
      }

      .Rtable-cell--heading {
        display: none;
      }

      .Rtable-cell--content {
        a {
          font-size: 2em;
					color: #333;
        }
        
        .webinar-date {
          font-weight: 700;
        }
      }
    }
  }
}

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .is-striped {
    background-color: white;
	}


	
	.wrapper {
		padding: 0.1em;
	}
  
  .Rtable--collapse  {
    display: block;
    width: 100%;
    padding: 0.5em;
    box-shadow: none;
    
    .Rtable-row {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
			box-shadow: 0 0 40px rgba(0,0,0,0.2);
			font-size: 12px;
      
      .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center;

        .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 120px;
					// min-width: 120px;
					 min-width: 60px;
          color: $heading-color;
          // font-weight: 700;
          border-right: 1px solid #ccc;
					margin-right: 1em;
        }

        .Rtable-cell--content {
          flex: 2;
          // padding-left: 1em;
        }
      }
    }
    
    .topic-cell {
      background-color: $heading-color;
      color: white;
      font-weight: 700;
      order: -1;
      
      .Rtable-cell--content {
        padding-left: 0 !important;
      }
    }
    
    .Rtable-row--head {
      display: none;
    }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  
  &.Rtable-cell {
    width: 100%;
  }
}



.tablessWrap{
	border:1px solid #d3d3d3;
	background: #ffffff;
}
.studentStatusCount{
	font-size: 16px;
	margin:5px 0;
	text-align: center;
}
.titleWrap02{
	font-size:22px;
	color:#666666;
	margin-bottom:10px;
	border-bottom: 2px solid #c1c1c1;    
}
.titleWrap{
	font-size:22px;
	color:#666666;
	margin:10px 0;
	border-bottom: 2px solid #c1c1c1;    
}
.example-full-width {
    width: 70%;
  }

  .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 25px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  i:hover {
	//background-color: red;
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	color: indianred;
	outline-color : aqua;
  }
  